<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user specific collection</title>
    <link rel="stylesheet" href="/styles/ui.css">
</head>

<body>
    <header class="header">
        <h1 class="header__title">Tradecard</h1>
        <nav class="header__nav">
            <ul class="header__menu">
                <li><a href="/home" class="header__link">Home</a></li>
                <li><a href="/about" class="header__link">About</a></li>
                <li><a href="/contact" class="header__link">Contact</a></li>
                <li><a href="/cards" class="header__link">Cards</a></li>
                <% if (user) { %>
                    <li class="header__menu-item--dropdown">
                        <div class="dropdown">
                            <button class="header__button">Collections</button>
                            <div class="content">
                                <a href="/all_collections" class="header__link">View others</a>
                                <a href="/user_collection" class="header__link">View mine</a>
                            </div>
                        </div>
                    </li>
                <% } %>
                <li class="header__menu-item--dropdown">
                    <div class="dropdown">
                        <button class="header__button">Member access</button>
                        <div class="content">
                            <% if (user) { %>
                                <a href="/account" class="header__link">Account</a>
                                <a href="/logout" class="header__link">Log out</a>
                            <% } else { %>
                                <a href="/register" class="header__link">Register</a>
                                <a href="/login" class="header__link">Log in</a>
                            <% } %>
                        </div>
                    </div>
                </li>
                <li class="nav-border" id="memberNav"></li>
            </ul>
        </nav>
    </header>

    <main class="cards__container">
        <h2>Cards</h2>

        <div class="cards__grid">
            <% cards.forEach(card => { %>
                <div class="individual__card">
                    <div class="card-header-specific">
                        <h3 class="card-name"><%= card.name %></h3>
                    </div>
                    <img src="<%= card.image %>" alt="<%= card.name %> image">
                    <div class="specific_card">
                        <p><strong>Number:</strong> <%= card.number %></p>
                        <p><strong>Species:</strong> <%= card.species %></p>
                        <p><strong>Height:</strong> <%= card.height %>m</p>
                        <p><strong>Weight:</strong> <%= card.weight %>kg</p>
                        <p><strong>Health Points:</strong> <%= card.hp %></p>
                        <p><strong>Attack:</strong> <%= card.attack %></p>
                        <p><strong>Defence:</strong> <%= card.defence %></p>
                        <div class="card-footer-specific">
                            <form action="/remove_card_from_collection" method="post">
                                <!-- Hidden input field for card_id -->
                                <input type="hidden" name="card_id" value="<%= card.card_id %>">
                                <!-- Hidden input field for member_id -->
                                <input type="hidden" name="user_collection_id" value="<%= user_collection_id %>">
                                <button type="submit" class="add-to-collection">Remove from collection</button>
                            </form>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </main>

    <footer>
        <p class="footer__text">&copy; 2024 Tradecard. All rights reserved.</p>
        <a href="mailto:tradecardproject@gmail.com" class="footer__email">Email us</a>
    </footer>
</body>
</html>